
    #page-admin{
    
      .box{
        top:0px;
        right:0px;
        bottom:0px;
        left:0px;
        height: 100%;
      }

      .head-title {
        font-family:'Bai Jamjuree', sans-serif;
        margin-left: 10px;
        color: #000;
        height: 70px;
        width: 395px;
        min-width: 119px;
        background: #FFFFFF;
        border: 1px solid #000000;
        border-radius: 49px;
        font-weight: 500;
        font-size: nth($font-sizes, 11);
        line-height: 33px;    
        display: flex;
        align-items: center;
        justify-content: center;
      }

      .admin-card {
        .card{
            width: 384px;
            height: 250px;
            margin:0 2.5% 0 2.5%;
            padding:0;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 16px;
            cursor: pointer;
      }
      .txt-title{
        font-family:'Bai Jamjuree', sans-serif;
        font-weight: 600;
        font-size: 28px;
        line-height: 35px;
        color: #000000;
        display: flex;
        justify-content: center;
        padding:10px 0 0 0;
      }
      }
      


     
    }
